<ion-view title="Editar Tarjeta" id="page3">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <h3 id="editarTarjeta-heading1" style="color:#0000005;font-weight:400;text-align:center;">Detalles de Tarjeta</h3>
    <div class="list card manual-card-fullwidth" id="editarTarjeta-card21"></div>
    <div class="list card manual-card-fullwidth" id="editarTarjeta-card22">
      <h3 id="editarTarjeta-heading3" style="color:#0000005;font-weight:400;text-align:center;">Detalles de Facturación</h3>
      <form id="editarTarjeta-form6" class="list">
        <label class="item item-input" id="editarTarjeta-input9">
          <span class="input-label">Nombres &amp; Apellidos</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="editarTarjeta-input10">
          <span class="input-label">Número de Tarjeta</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="editarTarjeta-input11">
          <span class="input-label">Fecha de Caducidad</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="editarTarjeta-input12">
          <span class="input-label">CCV</span>
          <input type="text" placeholder="">
        </label>
      </form>
    </div>
    <div class="list card manual-card-fullwidth" id="editarTarjeta-card23">
      <h3 id="editarTarjeta-heading4" style="color:#0000005;font-weight:400;text-align:center;">Detalles de Facturación</h3>
      <form id="editarTarjeta-form7" class="list">
        <label class="item item-input" id="editarTarjeta-input13">
          <span class="input-label">Dirección</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="editarTarjeta-input14">
          <span class="input-label">Ciudad</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="editarTarjeta-input15">
          <span class="input-label">País</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="editarTarjeta-input16">
          <span class="input-label">Correo Electronico </span>
          <input type="text" placeholder="">
        </label>
      </form>
    </div>
    <div class="list card" id="editarTarjeta-card26">
      <form id="editarTarjeta-form9" class="list">
        <ion-checkbox id="editarTarjeta-checkbox1">Acepto los términos de uso y condiciones</ion-checkbox>
        <button id="editarTarjeta-button1" class="button button-positive button-block">GUARDAR</button>
      </form>
    </div>
  </ion-content>
</ion-view>